/*重设*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
}
body {
	font-size: 14px;
	color: #333;
	background: #f8f8f8;
	font-family: "Helvetica Neue", Arial, Helvetica, "Microsoft YaHei", "simsun", sans-serif;
}

img {
	border: 0;
	vertical-align: bottom;
}

ul { 
	list-style: none; 
}

a { 
	outline: none; 
	color:#333;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clear:before,.clear:after {
	content: " ";
	display: table;
}
.clear:after {
	clear: both;
}

/*banner*/

#banner {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.slide {
	position: relative;
	list-style: none;
	padding: 0;
}

.slide .item {
	float: left;
	position: relative;
}

.slide .active {
	display: block;
}

.slide img {
	width: 100%;
	height: auto;
}

.slide .item p {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 30px;
	padding: 10px;
	color: #fff;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	background:-webkit-linear-gradient(rgba(0,0,0.1),rgba(0,0,0.2));
	background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,.8));
}

.pointer li {
	width: 8px;
	height: 8px;
	margin: 1px;
	background: #666;
	display: inline-block;
	border-radius: 8px;
	cursor: pointer;
}

.pointer .active {
	background: #fff;
}

#banner .pointer {
	right:0;
	position: absolute;
	bottom: 0;
	padding: 15px;
}

/*标签列表*/
.tab .tab-nav {
	background: #eee;
	line-height: 45px;
}
.tab .tab-nav li {
	float: left;
	width: 25%;
}
.tab .tab-nav li a {
	display: block;
	text-align: center;
}

.tab .tab-nav .active a {
	color: #e53a40;

}

/*.tab .tab-nav a:focus {
	background: #dedede;

}*/

.tab .tab-main .tab-content {
	background-color: #fff;
	display: none;
	margin-bottom: 53px;
}

.tab .tab-main .tab-content.active {
	display: block;
}

.list-media a {
	padding: 0 10px;
	display: block;
	position: relative;
}
.list-media a.active {
	background-color: #ccc;
}
.list-media li {
	padding: 10px 0;
	clear: both;
	overflow: hidden;
}

.list-media a + a:before{
		content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform-origin: 0 0;
    transform: scaleY(0.5);
}

.list-media img {
	width: 88px;
	height: auto;
	float: left;
	margin-right: 12px;
}

.list-media h2 {
	font-size: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 24px;
	height: 24px;
}

.list-media p {
	font-size: 14px;
	line-height: 20px;
	color: #666;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*底部导航*/
.tabbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
}
.tabbar:before{
		content: " ";
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #ccc;
    color: #ccc;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform-origin: 0 0;
    transform: scaleY(0.5);
}
.tabbar .item{
		display: block;
    width: 25%;
    padding: 7px 0 0;
    color: #999;
    text-align: center;
    float: left;
}
.tabbar .item.active{
    color: #e53a40;
}
.tabbar .item img{
	display: inline-block;
	width: 24px;
	height: 24px;
}
.tabbar .item p{
	font-size: 12px;
	margin-top: 4px;
	margin-bottom: 4px;
}